/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Ejercicio_1/nbproject/private/
/Java/Ejercicio_2/nbproject/private/
/Java/Ejercicio_3/nbproject/private/
/Java/Ejercicio_4/nbproject/private/
/Java/Ejercicio_5/nbproject/private/
/Java/Ejercicio6/nbproject/private/
/Java/Ejercicio_6/nbproject/private/
/Java/Ejercicio_7/nbproject/private/
